html {
    height: 100%;
}

body {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
}

span {
    font-weight: 600;
}

.dad {
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 5px;
    padding: 1em;
    font-size: 1em;
    margin-bottom: 2em;
    text-align: center;
    min-width: 360px;
}

.dad h3 {
    border-bottom: 1px solid #999;
    margin-top: 0;
}
