---
import people from "../lib/personal.json";
import Layout from "../layouts/Layout.astro";
import Tape from "../components/tape.astro";
---

<Layout title="HiDad Timeline">
    
    <div class="header">
        <h1>Hi Dad</h1>
    </div>
    <div class="timeline-dates">
        {people.people.map((person) => (
            <div class='person'>
                <div class="timeline-event-label">{person.name}</div>
                <div class="timeline-event">{person.born}</div>
                <div class="timeline-event">{person.died}</div>
            </div>
        ))}
    </div>
   
    <div id="timeline" class="timeline">
        <Tape />
    </div>
</Layout>

<style>
    
    /* some basic styles for the header */
    .header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0 1rem;
    }

    /* some grid layout for desktop */
    .timeline-dates {}

    
    .timeline {
        border-top: 1px dotted purple;
        width: 100%;
        margin: 0 auto;
        padding: 0;
        list-style: none;
        overflow-x: scroll;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
       
  </style>

